$white: #fff;
$black: #000;

$gray-light: #eee;
$gray-light-50: #ccc;
$gray-light-100: #bbb;
$gray-dark: #aaa;
$gray-strong-dark: #666;

$example-50: #1234;
$example-100: #5678;

$example-bg: #9101;

$theme0: #060a0d;
$theme1: #b0bec5;
$theme2: #eef2f7;
$theme3: #61655e;
$theme4: #2a393c;
$theme4-1: #1d292b;
$theme5: #8acede;
$theme6: #9ca3a7;
$theme7: #587a85;
$theme8: #6da3b1;

$transparent: transparent;

$shadow: rgba(#000, 30%);
$shadow-50: rgba(#000, 50%);
$shadow-80: rgba(#000, 80%);

$shadow-white: rgba(#fff, 30%);
$shadow-white-50: rgba(#fff, 50%);
$shadow-white-80: rgba(#fff, 80%);
