$white: #fff;
$black: #000;
$gray-light: #eee;
$gray-light-50: #ccc;
$gray-light-100: #bbb;
$gray-dark: #aaa;

$example-50: #1234;
$example-100: #5678;

$example-bg: #9101;

$theme0: #060a0d;
$theme1: #b0bec5;
$theme2: #eef2f7;
$theme3: #61655e;
$theme4: #2a393c;
$theme4-1: #1d292b;
$theme5: #8acede;
$theme6: #9ca3a7;
$theme7: #587a85;
$theme8: #6da3b1;

$transparent: transparent;
