@use 'src/styles/constants/colors.scss';

.main {
  width: 100%;
  height: 500px;

  .mainWrapper {
    width: 100%;
    height: 100%;

    .searchSection {
      width: 100%;
      height: 120px;

      .searchTitle {
        height: 40px;

        h2 {
          height: 40px;
          font-size: 26px;
          font-weight: bold;
          line-height: 40px;
          color: colors.$theme5;
        }
      }

      .searchBox {
        position: relative;
        height: 40px;
        margin: 20px 0;

        .searchIcon {
          position: absolute;
          left: 8px;
          width: 14px;
        }

        .searchBar {
          width: 100%;
          height: 40px;
          padding: 0 30px;
          padding-right: 80px;
          font-size: 16px;
          line-height: 40px;
          color: colors.$gray-strong-dark;
          letter-spacing: 0.01em;
          background-color: colors.$white;
          transition: all 0.5s ease;

          &:focus {
            padding-left: 36px;
            background-color: colors.$theme1;

            &::placeholder {
              color: colors.$transparent;
            }
          }

          &::placeholder {
            position: relative;
            top: -2px;
            font-size: 12px;
            font-weight: 200;
            line-height: normal;
            color: colors.$gray-light-100;
          }
        }

        .searchBtn {
          position: absolute;
          top: 6px;
          right: 5px;
          width: 60px;
          height: 28px;
          font-size: 11px;
          font-weight: 300;
          line-height: 28px;
          color: colors.$white;
          letter-spacing: 0.01em;
          background-color: colors.$theme4-1;
          border: none;
          outline: none;
        }
      }
    }

    .listSection {
      display: flex;
      width: 100%;
      height: 380px;
      overflow-y: auto;

      .listBox {
        display: flex;
        flex-wrap: wrap;
        width: inherit;

        .imageItem {
          width: 47%;
          margin-top: 6%;

          &:nth-of-type(2n) {
            margin-left: 6%;
          }

          &:hover .imageButton figure figcaption {
            display: block;
          }

          &:hover .imageButton figure .image {
            filter: grayscale(100%);
            transform: scale(0.9);
          }

          .imageButton {
            width: 100%;

            figure {
              position: relative;
              width: inherit;

              .image {
                width: inherit;
                vertical-align: bottom;
                border: none;
                transition: all 0.3s ease;
              }

              figcaption {
                position: absolute;
                top: 50%;
                left: 50%;
                display: none;
                width: inherit;
                padding: 10px;
                font-size: 10px;
                font-weight: 200;
                color: colors.$white;
                letter-spacing: 0.01em;
                transform: translate(-50%, -50%);
              }
            }
          }
        }

        .observeTarget {
          width: 100%;
          height: 30px;
        }
      }
    }
  }
}

.modalContent {
  position: relative;
  width: 100%;
  height: 100%;
  background: no-repeat center / cover;

  .modalGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
